In [9]:
#import data analysis library
import pandas as pd
import numpy as np

#display all columns
pd.set_option('display.max_columns', None)

In [17]:
df = pd.read_json("data/dataset_strava_gianluca.json")

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427 entries, 0 to 426
Data columns (total 55 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   resource_state                 427 non-null    int64
 1   athlete                        427 non-null    object
 2   name                           427 non-null    object
 3   distance                       427 non-null    float64
 4   moving_time                    427 non-null    int64
 5   elapsed_time                   427 non-null    int64
 6   total_elevation_gain           427 non-null    float64
 7   type                           427 non-null    object
 8   sport_type                     427 non-null    object
 9   workout_type                   131 non-null    float64
 10  id                             427 non-null    int64
 11  start_date                     427 non-null    object
 12  start_date_local               427 non-null    object
 13  timezone                       427 non-null    object
 14  utc_offset                     427 non-null    int64
 15  location_city                  0 non-null      float64
 16  location_state                 0 non-null      float64
 17  location_country               0 non-null      float64
 18  achievement_count              427 non-null    int64
 19  kudos_count                    427 non-null    int64
 20  comment_count                  427 non-null    int64
 21  athlete_count                  427 non-null    int64
 22  photo_count                    427 non-null    int64
 23  map                            427 non-null    object
 24  trainer                        427 non-null    bool
 25  commute                        427 non-null    bool
 26  manual                         427 non-null    bool
 27  private                        427 non-null    bool
 28  visibility                     427 non-null    object
 29  flagged                        427 non-null    bool
 30  gear_id                        162 non-null    object
 31  start_latlng                   427 non-null    object
 32  end_latlng                     427 non-null    object
 33  average_speed                  427 non-null    float64
 34  max_speed                      427 non-null    float64
 35  average_cadence                386 non-null    float64
 36  average_temp                   408 non-null    float64
 37  has_heartrate                  427 non-null    bool
 38  average_heartrate              405 non-null    float64
 39  max_heartrate                  405 non-null    float64
 40  heartrate_opt_out              427 non-null    bool
 41  display_hide_heartrate_option  427 non-null    bool
 42  elev_high                      410 non-null    float64
 43  elev_low                       410 non-null    float64
 44  upload_id                      412 non-null    float64
 45  upload_id_str                  412 non-null    float64
 46  external_id                    412 non-null    object
 47  from_accepted_tag              427 non-null    bool
 48  pr_count                       427 non-null    int64
 49  total_photo_count              427 non-null    int64
 50  has_kudoed                     427 non-null    bool
 51  suffer_score                   405 non-null    float64
 52  average_watts                  10 non-null     float64
 53  kilojoules                     10 non-null     float64
 54  device_watts                   10 non-null     float64
dtypes: bool(10), float64(20), int64(12), object(13)
memory usage: 154.4+ KB

In [19]:
df.head(2)

,resource_state,athlete,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,workout_type,id,start_date,start_date_local,timezone,utc_offset,location_city,location_state,location_country,achievement_count,kudos_count,comment_count,athlete_count,photo_count,map,trainer,commute,manual,private,visibility,flagged,gear_id,start_latlng,end_latlng,average_speed,max_speed,average_cadence,average_temp,has_heartrate,average_heartrate,max_heartrate,heartrate_opt_out,display_hide_heartrate_option,elev_high,elev_low,upload_id,upload_id_str,external_id,from_accepted_tag,pr_count,total_photo_count,has_kudoed,suffer_score,average_watts,kilojoules,device_watts
0,2,"{'id': 49726793, 'resource_state': 1}",40 ' L,7820.5,2412,2412,7.0,Run,Run,0.0,8213319572,2022-12-06T06:21:50Z,2022-12-06T07:21:50Z,(GMT+01:00) Europe/Rome,3600,NaN,NaN,NaN,1,2,0,1,0,"{'id': 'a8213319572', 'summary_polyline': 'qyk...",False,False,False,False,everyone,False,g11123897,"[45.449374951422215, 9.163089925423265]","[45.4495622869581, 9.163387566804886]",3.242,4.107,82.4,15.0,True,161.8,179.0,False,True,188.6,127.6,8.799832e+09,8.799832e+09,garmin_ping_249922102342,False,0,0,False,80.0,NaN,NaN,NaN
1,2,"{'id': 49726793, 'resource_state': 1}",Morning Run,7829.8,2406,2406,0.0,Run,Run,NaN,8200380590,2022-12-03T07:58:27Z,2022-12-03T08:58:27Z,(GMT+01:00) Europe/Rome,3600,NaN,NaN,NaN,0,2,0,1,0,"{'id': 'a8200380590', 'summary_polyline': '{zk...",False,False,False,False,everyone,False,g11123897,"[45.449586594477296, 9.164031464606524]","[45.44984970241785, 9.164545275270939]",3.254,4.346,82.4,17.0,True,162.4,185.0,False,True,177.8,117.6,8.785157e+09,8.785157e+09,garmin_ping_249528929321,False,0,0,False,84.0,NaN,NaN,NaN

In [20]:
df.columns

Index(['resource_state', 'athlete', 'name', 'distance', 'moving_time',
       'elapsed_time', 'total_elevation_gain', 'type', 'sport_type',
       'workout_type', 'id', 'start_date', 'start_date_local', 'timezone',
       'utc_offset', 'location_city', 'location_state', 'location_country',
       'achievement_count', 'kudos_count', 'comment_count', 'athlete_count',
       'photo_count', 'map', 'trainer', 'commute', 'manual', 'private',
       'visibility', 'flagged', 'gear_id', 'start_latlng', 'end_latlng',
       'average_speed', 'max_speed', 'average_cadence', 'average_temp',
       'has_heartrate', 'average_heartrate', 'max_heartrate',
       'heartrate_opt_out', 'display_hide_heartrate_option', 'elev_high',
       'elev_low', 'upload_id', 'upload_id_str', 'external_id',
       'from_accepted_tag', 'pr_count', 'total_photo_count', 'has_kudoed',
       'suffer_score', 'average_watts', 'kilojoules', 'device_watts'],
      dtype='object')

In [42]:
df_value

,colonna,valori_nulli,unique_value,number_value,tipo_dato
0,resource_state,0,"2 427 Name: resource_state, dtype: int64",1,int64
1,athlete,0,"{'id': 49726793, 'resource_state': 1} 427 N...",1,object
2,name,0,Morning Run 194 Evening R...,125,object
3,distance,0,0.0 13 7820.5 1 11615.1 1 2782...,415,float64
4,moving_time,0,1800 12 3605 5 2228 2 2095 2 33...,384,int64
5,elapsed_time,0,1800 11 3605 4 3602 3 3607 3 36...,382,int64
6,total_elevation_gain,0,0.0 58 4.0 26 1.0 25 3.0 ...,160,float64
7,type,0,Run 394 Workout 13 Ride ...,7,object
8,sport_type,0,Run 380 TrailRun 14 Workout ...,8,object
9,workout_type,296,0.0 122 1.0 5 3.0 3 10.0 ...,4,float64
10,id,0,8213319572 1 5405624082 1 5416919212 ...,427,int64
11,start_date,0,2022-12-06T06:21:50Z 1 2021-06-03T05:35:57Z...,427,object
12,start_date_local,0,2022-12-06T07:21:50Z 1 2021-06-03T07:35:57Z...,427,object
13,timezone,0,(GMT+01:00) Europe/Rome 414 (GMT-05:...,10,object
14,utc_offset,0,7200 226 3600 194 -14400 3 108...,6,int64
15,location_city,427,"Series([], Name: location_city, dtype: int64)",0,float64
16,location_state,427,"Series([], Name: location_state, dtype: int64)",0,float64
17,location_country,427,"Series([], Name: location_country, dtype: int64)",0,float64
18,achievement_count,0,0 231 1 67 2 27 3 20 5 ...,23,int64
19,kudos_count,0,1 121 2 101 3 83 0 53 4 ...,15,int64
20,comment_count,0,0 402 2 10 1 9 3 3 4 2 6...,6,int64
21,athlete_count,0,1 407 2 7 3 4 11 1 8 ...,12,int64
22,photo_count,0,"0 427 Name: photo_count, dtype: int64",1,int64
23,map,0,"{'id': 'a8213319572', 'summary_polyline': 'qyk...",427,object
24,trainer,0,"False 421 True 6 Name: trainer, dtype...",2,bool
25,commute,0,"False 426 True 1 Name: commute, dtype...",2,bool
26,manual,0,"False 412 True 15 Name: manual, dtype:...",2,bool
27,private,0,"False 427 Name: private, dtype: int64",1,bool
28,visibility,0,"everyone 427 Name: visibility, dtype: int64",1,object
29,flagged,0,"False 427 Name: flagged, dtype: int64",1,bool
30,gear_id,265,g9651183 96 g11123897 49 g9651184 1...,3,object
31,start_latlng,0,[] 21 ...,407,object
32,end_latlng,0,[] 21 ...,407,object
33,average_speed,0,0.000 13 3.076 6 2.979 4 3.001 ...,322,float64
34,max_speed,0,4.600 18 4.300 17 0.000 15 4.800 1...,232,float64
35,average_cadence,41,82.0 17 81.8 17 82.4 16 81.6 16 81...,99,float64
36,average_temp,19,19.0 31 18.0 25 22.0 25 17.0 25 16...,26,float64
37,has_heartrate,0,"True 405 False 22 Name: has_heartrate,...",2,bool
38,average_heartrate,22,155.1 7 149.2 6 157.7 5 152.2 5 14...,224,float64
39,max_heartrate,22,170.0 23 171.0 22 169.0 19 165.0 1...,54,float64
40,heartrate_opt_out,0,"False 427 Name: heartrate_opt_out, dtype: i...",1,bool
41,display_hide_heartrate_option,0,True 405 False 22 Name: display_hide_h...,2,bool
42,elev_high,17,93.6 19 116.8 16 117.1 9 117.7 ...,314,float64
43,elev_low,17,115.1 11 115.3 9 114.9 9 115.2 ...,317,float64
44,upload_id,15,8.799832e+09 1 5.811254e+09 1 5.736757e+...,412,float64
45,upload_id_str,15,8.799832e+09 1 5.811254e+09 1 5.736757e+...,412,float64
46,external_id,15,garmin_ping_249922102342 1 garmin_push_6946...,412,object
47,from_accepted_tag,0,False 426 True 1 Name: from_accepted_...,2,bool
48,pr_count,0,0 326 1 37 2 19 3 12 5 ...,14,int64
49,total_photo_count,0,0 400 1 10 3 5 2 4 4 ...,8,int64
50,has_kudoed,0,"False 427 Name: has_kudoed, dtype: int64",1,bool
51,suffer_score,22,44.0 9 57.0 8 49.0 8 51.0 8 88...,162,float64
52,average_watts,417,59.5 1 44.7 1 76.2 1 61.0 1 21.3 ...,10,float64
53,kilojoules,417,81.3 2 381.3 1 190.9 1 264.6 1 10...,9,float64
54,device_watts,417,"0.0 10 Name: device_watts, dtype: int64",1,float64

In [44]:
#verifico l'ampiezza del dataset
df.shape

(427, 55)

In [30]:
df["max_speed"].max()

21.96

In [31]:
df[df["max_speed"]==df["max_speed"].max()]

,resource_state,athlete,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,workout_type,id,start_date,start_date_local,timezone,utc_offset,location_city,location_state,location_country,achievement_count,kudos_count,comment_count,athlete_count,photo_count,map,trainer,commute,manual,private,visibility,flagged,gear_id,start_latlng,end_latlng,average_speed,max_speed,average_cadence,average_temp,has_heartrate,average_heartrate,max_heartrate,heartrate_opt_out,display_hide_heartrate_option,elev_high,elev_low,upload_id,upload_id_str,external_id,from_accepted_tag,pr_count,total_photo_count,has_kudoed,suffer_score,average_watts,kilojoules,device_watts
31,2,"{'id': 49726793, 'resource_state': 1}",Lunch Trail Run,29898.6,12651,15684,1349.0,Run,Run,0.0,7737065215,2022-09-01T10:50:26Z,2022-09-01T12:50:26Z,(GMT+01:00) Europe/Rome,7200,NaN,NaN,NaN,11,4,0,1,0,"{'id': 'a7737065215', 'summary_polyline': 'ipp...",False,False,False,False,everyone,False,g11123897,"[45.801175, 9.189752]","[45.802781, 9.18772]",2.363,21.96,73.4,25.0,True,119.0,154.0,False,True,1379.0,416.4,8.260734e+09,8.260734e+09,garmin_ping_237293204175,False,7,0,False,42.0,NaN,NaN,NaN